/* 
===========
Variables
===========
*/
:root{
  --primaryColor:#f15025;
  --maniBlack:#222;
  --mainWhite:#fff;
  --offWhite:#f7f7f7;
  --darkGrey:#afafaf;
  --mainTransition:all 0.3s linear;
  --mainSpacing:0.2rem;
}
/* 
===========
Global Styles
===========
*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Fira Code", monospace;
  color: var(--maniBlack);
  background: (--mainWhite);
  line-height: 1.5;
}
a{
  text-decoration: none;
}
img{
  width: 100%;
  display: block;
}
li{
  list-style-type: none;
}
h1,h2,h3{
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1{
  font-size: 3rem;
}
h2{
  margin-bottom: 0;
}
p{
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button  */
.btn{
  display: inline-block;
  padding: 0.5rem 1rem;
  text-transform: capitalize;
  border: 3px solid var(--primaryColor);
  color: var(--primaryColor);
  margin: 3rem;
  transition: var(--mainTransition);
}
.btn:hover{
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* 
===========
Main navbar
===========
*/
.main-navbar{
  padding:0 2rem;
  background: var(--darkGrey);

}
.main-navbar a{
  text-transform: capitalize;
  display:block;
  padding: 1rem 0;
  color: var(--primaryColor);
  letter-spacing: var(--mainSpacing);
  transition: var(--mainTransition);
}
.main-navbar a:hover{
  color: var(--maniBlack);
}
@media screen and (min-width:992px) {
  .main-navbar ul{
    display: grid;
    max-width: 1170px;
    margin: 0 auto;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar a{
    text-align: center;
  }
}
/* 
===========
Hero
===========
*/
.hero-header{
  min-height: 100vh;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}
.hero-banner{
  /* background: blue; */
  /* text-align: center; */
}
.hero-banner p{
  width: 80%;
  max-width: 560px;
  font-size: 1rem;
}

@media screen and (max-width:600px) {
  .hero-banner{
    padding: 0 3rem;

  }
}
@media screen and (min-width:768px) {
  .hero-header{
    background:linear-gradient(rgba(241,80,37,0.75),rgba(0,0,0,0.75)), url(./images/image-2.jpeg) center/cover fixed no-repeat;
  }
}
/* 
===========
Cards
===========
*/
.title{
  text-align: center;
}
.cards{
  padding: 4rem 0;
}
.cards-center{
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card{
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}
.card-info{
  padding: 1rem;
}
.card-footer{
  background: var(--darkGrey);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
}
.card-footer span{
  color:var(--primaryColor) ;
}
.card img{
  height: 381px;
  /* height: 100%; */
}
/* @media screen and (min-width:768px) {
  .cards-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width:1170px) {
  .cards-center{
    grid-template-columns: repeat(3, 1fr);
  }
} */
/* (1170px-64)px/3 = 368px  */
.cards-center{
  display: grid;
  column-gap: 2rem;
  /* three column layout  */
  /* grid-template-columns: repeat(auto-fit,minmax(320px, 1fr)); */
  /* four column layout  */
  grid-template-columns: repeat(auto-fit,minmax(232px, 1fr));
}
/* 
===========
Tiles
===========
*/
.tiles{
  padding: 4rem 0;
}
.tiles-center{
  width: 90vw;
  max-width: 1170px;
  margin: 2rem auto;
  display: grid;
  row-gap: 2rem;
}
.tile{
  text-align: center;
}
@media screen and (min-width:768px){
  .tiles-center{
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width:992px){
  .tiles-center{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width:1170px){
  .tiles-center{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 200px);
    grid-template-areas: 
    "a a a b"
    "a a a c"
    "d d d d"
    "e f f f"
    "e g h i";
  }
  .tiles img{
    height: 100%;
    /* solution to distorted images  */
    object-fit: cover;
  }
  .tile-1{
    grid-area: a;
  }
  .tile-2{
    grid-area: b;
  }
  .tile-3{
    grid-area: c;
  }
  .tile-4{
    grid-area: d;
  }
  .tile-5{
    grid-area: e;
  }
  .tile-6{
    grid-area: f;
  }
  .tile-7{
    grid-area: g;
  }
  .tile-8{
    grid-area: h;
  }
  .tile-9{
    grid-area: i;
  }
}